/.idea/
/out/
/JavaDemo/out/
/PD/out/
*.iml
*.obj
*.log
*.lst
*.dsk
/demo/PINBALL
/demo/PINBALM
!/demo/coll.bin
/demo2/PINBALL
/demo2/PINBALM
/c64/
/demo2/pinball8.bin
/demo2/pinball-demo2-8.bin
/demo/pinball8.bin
/demo/pinball-demo-8.bin
